<!-- views/index.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
     
   <div>
       <img src="/public/images/beer.png" alt="Beer">
       <a href=""> Check the Beers</a>
       <a href=""> Check a Random Beer</a>
   </div>
  </body>
</html>
